{% extends 'home.html' %}
{% block content %}
    <body>
    {#    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>#}
    {#  <img src="" alt="...">#}
        <img src="http://s.cn.bing.net/th?id=OHR.TsavoGerenuk_ZH-CN2231549718_1920x1080.jpg&rf=LaDigue_1920x1080.jpg&pid=hp"
             class="img-responsive" alt="Responsive image">
    <div class="carousel-caption text-right">
            <h1>Good By!</h1>
        <p>此地山水，熟知我的一切。</p>
        <p>我又何曾怨你！</p>
        <p>秋风吹着渭水，落叶铺满大地。 ​​​</p>
    </div>
    </body>
{% endblock %}